{% from 'reusables.html' import searchForm %}

<head>
    <title>Google Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='google.css') }}" rel="stylesheet" type="text/css" />
    <style>
        #title {
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul id="nav_bar">
                <li class="nav-links" id="gmail"><a href="#">Shemail</a></li>
                <li class="nav-links"><a href="#">Images</a></li>
                <li id="sign_in"><a href="#">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <!-- page-centered title saying "Maztro" -->
    <div id="lil-title">
        <h1>Maztro</h1>
    </div>

    {{ searchForm() }}

    <!-- FOOTER -->
    <footer>
        <ul class="footer-left">
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="footer-right">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </footer>
</body>