{% from 'reusables.html' import searchForm %}
{% from 'reusables.html' import nav %}

<head>
    <title>Google Homepage</title>
    <script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin-worker.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='results.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='google.css') }}" rel="stylesheet" type="text/css" />
    <style>
        #title {
            text-align: center;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

{{ nav() }}

{{ searchForm() }}

<div id="demo"></div>


<!-- FOOTER -->
<footer>
    <ul class="footer-left">
        <li><a href="#">Advertising</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <ul class="footer-right">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</footer>
</body>