{% macro nav() %}
<!--
<body>
    <header>
        <nav>
            <ul id="nav_bar">
                <li class="nav-links" id="gmail"><a href="#">About</a></li>
                <li class="nav-links"><a href="#">How?</a></li>
                <li id="sign_in"><a href="#">Sign In</a></li>
            </ul>
        </nav>
    </header>
    -->
<!--<div id="lil-title" style="position:fixed; margin-left: 10px">
    <h1>Maztro</h1>
</div>-->

{% endmacro %}


{% macro searchForm() %}

<!-- style to center title -->
<!--<style>
    #title {
        text-align: center;
    }
</style>-->

<style>
    .spinning {
        animation-name: spin;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
</style>

<!-- GOOGLE IMG -->
<div class="google">
    <h1 id="title">
        <a href="/" id="google_logo">
            <img id="logo" style='vertical-align:middle;' src='{{ url_for('static', filename='logo.png') }}' height="10%">
            <div style='vertical-align:middle; display:inline; font-size: 10vh;'>
                Maztro
            </div>
        </a>
    </h1>
</div>

<!-- FORM SEARCH -->
<div class="form">
    <form action="/results" method="post" id="search-form">
        <!--<form action="/resultsJSON" method="post">-->
        <label for="form-search"></label>
        <!--<input type="text" name="data" value="test" id="form-search" placeholder="Search Maztro by playing the MIDI keyboard">-->
        <!-- BUTTONS -->
        <div class="buttons">
            <!--<div style="margin-left: 45%; background-color: white; margin-right: 25vw; border: 1px solid grey; margin-bottom: 50px; margin-top: -10px;">-->
            <p>Your input:</p>
            <div style="margin-left: 20vw; background-color: white; margin-right: 20vw; border: 1px solid blue; margin-bottom: 50px; margin-top: -10px">

                <script type="text/humdrum" id="input">
                    **kern
                    c
                    cc
                    b
                    cc
                    c
                    *-
                </script>
                <script>
                    displayHumdrum({
                        source: "input",
                        scale: 35,
                        pageWidth: 750,
                        pageMarginLeft: 0,
                        pageMarginTop: 0,
                        spacingStaff: 14,
                        spacingSystem: 0,
                        barLineWidth: 0.10,
                        staffLineWidth: 0.30,
                        stemWidth: 0.50,
                    });
                </script>
            </div>
            <!-- Clickable input tag that triggers the doQuery() function -->
            <input type="submit" value="Maztro Search" id="google_search" onclick="document.getElementById('logo').classList.add('spinning');">
            <!--<input type="button" value="Maztro Search" id="google_search" onclick="doSearch()">-->
            <!--<input type="submit" value="Maztro Search" id="google_search">-->
            <br />
            <br />
            <a href="/how" style="color: blue; text-decoration: underline;">Help? how does this work?</a>
        </div>
    </form>
</div>


<script>
    const escapeHtml = (unsafe) => {
        return unsafe.replaceAll('&', '&amp;').replaceAll('<', '&lt;').replaceAll('>', '&gt;').replaceAll('"', '&quot;').replaceAll("'", '&#039;');
    }

    function doSearch() {
        fetch('/test', { method: 'GET' })
            .then(res => res.text())
            .then(html => {
                document.querySelector('body').innerHTML = html;
            });
        console.log('testikel');
        fetch('/results', { method: 'POST' })
            .then(res => res.text())
            .then(html => {
                document.querySelector('html').innerHTML = html;
                console.log('wow done')
            });
    }


</script>

{% endmacro %}

