{% macro searchForm() %}

<!-- style to center title -->
<!--<style>
    #title {
        text-align: center;
    }
</style>-->

<div id="demo"></div>

<!-- GOOGLE IMG -->
<div class="google">
    <a href="/" id="google_logo"><img src="{{ url_for('static', filename='logo.png') }}" height="20%" /></a>
    <h1 id="title">Maztro</h1>
</div>

<div id="testikel"></div>

<!-- FORM SEARCH -->
<div class="form">
    <form action="/results" method="post" id="search-form">
        <!--<form action="/resultsJSON" method="post">-->
        <label for="form-search"></label>
        <!--<input type="text" name="data" value="test" id="form-search" placeholder="Search Maztro by playing the MIDI keyboard">-->

        <!-- BUTTONS -->
        <div class="buttons">
            <div style="margin-left:45vw">
                
            </div>
            <!-- Clickable input tag that triggers the doQuery() function -->
            <input type="submit" value="Maztro Search" id="google_search">
            <!--<input type="button" value="Maztro Search" id="google_search" onclick="doSearch()">-->
            <!--<input type="submit" value="Maztro Search" id="google_search">-->
            <input type="button" value="I'm Feeling Lucky" id="im_feeling_lucky">
        </div>
    </form>
</div>


<script>
    const escapeHtml = (unsafe) => {
        return unsafe.replaceAll('&', '&amp;').replaceAll('<', '&lt;').replaceAll('>', '&gt;').replaceAll('"', '&quot;').replaceAll("'", '&#039;');
    }

    function doSearch() {
        fetch('/test', { method: 'GET' })
            .then(res => res.text())
            .then(html => {
                document.querySelector('body').innerHTML = html;
            });
        console.log('testikel');
        fetch('/results', { method: 'POST' })
            .then(res => res.text())
            .then(html => {
                document.querySelector('html').innerHTML = html;
                console.log('wow done')
            });
    }


</script>

{% endmacro %}

{% macro nav() %}

<body>
    <header>
        <nav>
            <ul id="nav_bar">
                <li class="nav-links" id="gmail"><a href="#">About</a></li>
                <li class="nav-links"><a href="#">How?</a></li>
                <li id="sign_in"><a href="#">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <!-- top-left title saying "Maztro" -->
    <div id="lil-title" style="position:fixed;">
        <h1>Maztro</h1>
    </div>

    {% endmacro %}
